{% extends 'base.html' %}

{% load static l10n %}

{% block css %}
    <link href='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.css' rel='stylesheet' />
    <script src='https://cdn.jsdelivr.net/npm/fullcalendar@5.10.0/main.min.js'></script>  
    <style>
        .card-title {
            text-transform: none!important;
        }
    </style>
{% endblock %}

{% block body %}
<div class="row">
    <div class="col-sm-12">
        <div class="page-title-box">
            <div class="row">
                <div class="col">
                    <h4 class="page-title">Agenda</h4>
                </div><!--end col-->
            </div><!--end row-->                                                              
        </div><!--end page-title-box-->
    </div><!--end col-->
</div><!--end row-->

<div class="row">
    <div class="col-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title">Agenda</h4>
                <p class="text-muted mb-0">Acompanhe seu calendário</p> 
            </div><!--end card-header-->
            <div class="card-body">
                <div id='calendar'></div>
            </div><!--end card-body-->
        </div><!--end card-->                                
    </div> <!-- end col -->
</div>

{% endblock %}

{% block scripts %}
    <script>
        var dias_selecionados = [];

        
        document.addEventListener('DOMContentLoaded', function() {
        var calendarEl = document.getElementById('calendar');
        var calendar = new FullCalendar.Calendar(calendarEl, {
          initialView: 'dayGridWeek',
          events: [
            {
              id: 'a',
              title: 'consulta 2',
              start: '2021-12-02'
            },
            {
              id: 'a',
              title: 'consulta 1',
              start: '2021-12-02'
            }
          ]
        });
        calendar.render();
      });
    </script>
{% endblock %}
